/******* RESET ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

/******** UTILITÁRIOS ********/

:root {
  --hue: 310;
  --dark: hsl(var(--hue), 41%, 10%);
  --primaryColor: hsl(var(--hue), 36%, 57%);
  --secondColor: hsl(var(--hue), 65%, 88%);
  --background1: hsl(var(--hue), 0%, 97%);
  --background2: hsl(var(--hue), 0%, 100%);

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  background-color: var(--background1);
}

.title {
  font: 700 1.875rem 'poppins', sans-serif;
}

.divider1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

main {
  margin-top: 8rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

section header {
  margin-bottom: 4rem;
}

section header strong {
  color: var(--primaryColor);
}

section .title {
  margin-bottom: 1rem;
}

/******** Header*********/

#header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
  width: 100%;
  background: var(--background1);

  display: flex;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.logo {
  text-decoration: none;
  color: var(--dark);
  font-size: 2em;
  font-weight: 700;
}

.logo.logo-alt span {
  color: var(--background1);
}

.logo span {
  color: var(--primaryColor);
}

#home {
  width: 100%;
  overflow: hidden;
  background: var(--background1);
}

#home .container {
  margin: 0;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--secondColor);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

.button {
  height: 3.5rem;
  background: var(--primaryColor);
  color: var(--background1);
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem 'DM Sans', sans-serif;
  transition: background 0.3s;
}

.button i {
  color: var(--background2);
}

.button:hover {
  background: var(--background2);
  color: var(--primaryColor);
}

/*NAVIGATION*/

nav {
  width: 100%;
  height: 4.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--primaryColor);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--primaryColor);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a.hover::after,
nav ul li a.active::after {
  width: 100%;
}

/* mostrar menu*/

nav.show ul.grid {
  gap: 4rem;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--background1);
  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.toggle {
  color: var(--primaryColor);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Sobre */

#about {
  background: var(--background2);
}

#about .container {
  margin: 0;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#about .text h2 {
  margin-bottom: 1.5rem;
}

#about .text p {
  margin-bottom: 0.5rem;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--secondColor);
  position: absolute;
  top: -8.3%;
  left: -33%;
}

#about .image img {
  position: relative;
}

#about .image img,
#about .image::before {
  border-radius: 0.25rem;
}

/* SERVICE*/
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-bottom: 0.25rem solid var(--primaryColor);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}
.card i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--primaryColor);
}

.card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

/* TESTIMONIALS */

#testimonials {
  background: var(--background2);
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
}

#testimonials blockquote p span {
  color: var(--primaryColor);
  font: 700 2.5rem serif;

  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
}

#testimonials cite {
  display: flex;
  align-items: center;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* SWIPER */

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: var(--primaryColor);
}

/* CONTACT */

#contact .grid {
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--primaryColor);
}

/* FOOTER */

footer {
  background: var(--primaryColor);
  padding: 2rem;
}

footer .container {
  justify-content: center;
}

footer .brand .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--background2);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--background2);
}

footer .social {
  display: flex;
  justify-content: center;
}

footer .social a {
  margin-right: 2rem;
}

/* RESPONSIVO */

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 6rem;
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1.2rem 'DM Sans', sans-serif;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .text {
    max-width: 24rem;
    order: 0;
  }

  #home .text .title {
    font-size: 2.5rem;
  }

  #home .image {
    max-width: 50rem;
    order: 1;
  }

  .button {
    height: 3.125rem;
  }

  #about .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #about .text .title {
    font-size: 2.5rem;
  }

  #services header .title {
    font-size: 2.5rem;
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
  }

  #contact .text {
    max-width: 25rem;
  }
  footer .section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
